:host {
  /*display: flex;*/
  /*flex-direction: row;*/
  color: #FF7FFE;
  /*font-family: 'RobotoDraft', sans-serif;*/
  font-size:10.5px;
  padding:0px;
  overflow:scroll;
  position:absolute;
}

#container {
/*  border: 2px solid;
  border-radius: 25px;
  padding: 20px;
  background: white;
  opacity: 90%;
  cursor: pointer;
  position:fixed;*/
}

#waveform {
  padding:5px 10px;
  width:100%;
}

#dropdown {
  top:0px;
}

.thing {
  box-shadow: 1px 1px 1px #888888;
  box-shadow: 10px 10px 5px #888888;
}

.flex-container {
  padding: 0;
  margin: 0;
  list-style: none;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  background:aliceblue;
  -webkit-flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  padding: 5px;
  margin-top: 10px;
  text-align: center;
  align-self: flex-start;
    /*background:;*/

}

iron-dropdown {
  top:0px;
}

.dropdown-content {
  position:relative;
  /*top:0px;*/
  /*position:absolute;*/
  display:block;
  /*top:0px;*/
  left:0px;
}

:host.sampler #controls {
  display: none;
}

canvas {
  visibility: visible !important;
}